Package: emervpn
Version: 1.0
Maintainer: Aspanta Limited <info@aspanta.com>
Architecture: all
Section: net
Priority: optional
Description: EmerVPN Service
Pre-Depends: debconf, openvpn
Depends: emercoin, emcssh, iptables
